@import url('https://fonts.googleapis.com/css2?family=Bitter');


*{
 font-size: 100%;
 font-family: "Bitter";
}


html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
}



.distill-site-header {
  --title-size:       20px;    
  --text-color:       whitesmoke; /* edited */
  --text-size:        18px;
  --hover-color:      whitesmoke; /* edited */
  --bkgd-color:       #0064a4; /* edited */
}


hr{
  border: 1px solid #fc917a;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}